[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
snowflake-snowpark-python = {extras = ["pandas"], version = "*"}
millify = "*"

[dev-packages]
black = "*"
watchdog = "*"

[requires]
python_version = "3.8"
