[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit-nightly = "*"
tornado = "==6.1"

[dev-packages]
watchdog = "*"
black = "*"

[requires]
python_version = "3.9"
